.temp {
    font-size: 50px;
}
.celsius {
    margin-left: 10px;
    font-size: 80px;
    vertical-align:middle;
}
.cardContainer {
    background-color: #0e8e53;
}

.wi {
    font-size: 200px;
    padding: 20px;
}

@media (max-width: 1000px) {
    .wi {
        font-size: 100px;
    }
}
@media (max-width: 770px) {
    .wi {
        font-size: 70px;
    }
}